/*  
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;700&family=Source+Sans+Pro:wght@200;300;400&display=swap');

/* Cores do projeto */

:root {
    --cor-secundaria: #7cba3b;
    --cor-principal: #0d4276; 
    --cor-background-um: #FFFFFF; 
    --cor-bacground-dois: rgb(238, 238, 238); 
    --cor-texto: #000000;
    --texto-titulo: font-family: 'Noto Sans', sans-serif;
    --texto-outros: font-family: 'Source Sans Pro', sans-serif;
}

/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: inherit;
    line-height: 1.5;
    

}

button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

html{
    scroll-behavior: smooth;
    
}

body{
    height: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}
 
header{
    display: flex;
    position: fixed;
    width: 100vw;
    top: 0;
    min-height: 16vh;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-bacground-dois);
    font-family: 'Source Sans Pro', sans-serif;
    /* From https://css.glass */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(255, 255, 255, 1);
    z-index: 1;
}

.logo{
    max-height: 18vh;
    width: auto;
        
}

#nav{
    display: flex;
    align-items: center;
    margin-right: 50px;
}

#menu{
    display: flex;
    gap: 1rem 2rem;
    padding: .5rem ;
    
}

.pagina{
    padding-top: 12vh;
    height: 100vh;
    max-width: 100vw;

}

.imagemInicio{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.imagemInicio>img{
    width: 100%;
    height: 60vh;
    object-fit: cover;

}

.textoInicio{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    font-size: 3.4rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    color: var(--cor-background-um);
    text-shadow: 1px 1px 2px black;
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
    overflow-x: hidden;

}

/* ----------------------------------------------
 * Generated by Animista on 2023-9-21 23:45:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(100o0px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
}
@keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
}
  

.btn{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;
    
}

#btnDoe{
    background-color: var(--cor-secundaria);
    width: 10rem;
    height: 50px;
    border-radius: 1.5rem;
    color: var(--cor-background-um);
    font-weight: bolder;
    text-transform: uppercase;
    
}  

#btnDoe:hover{
    opacity: .8;
    transition: linear .2s;
    
}

#sobreNos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 1px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.historia{
    width: 50vw;
    height: auto;
    background: var(--cor-principal);
    color: var(--cor-background-um);
    font-family: var(--texto-outros);
    font-size: 1.1rem;
    padding: 1rem;
}

.contatos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: auto;
    height: auto;
    background: var(--cor-background-um);
    color: var(--cor-principal);
    font-family: var(--texto-outros);
    font-size: 1.3rem;
    padding: 1rem;
    justify-items: center;
    align-items: center;
}

/* Estilos para telas menores */

@media (max-width: 601px) {

    body{
        max-width: 100vw;
    }

    header {
        min-height: 12vh;        
    }
    
    .logo {
        max-height: 13vh; 
    }

    #nav{
        margin-right: 5px;
    }

    #hamburger{
        background-image: url('img/hamburger.png');
        background-size: 30px;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        border: none;
        cursor: pointer;
        margin-right: 1rem;
        
    }
    
    #hamburger.x {
        background-image: url('img/x.png');
    }
    
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 10vh;
        right: 0px;
        background-color: var(--cor-bacground-dois);
        height: 0;
        z-index: 1000;
        transition: ease-in .3s;
        visibility: hidden;
        overflow-y: hidden;
         
    }

    #nav.active #menu{
        display: block;
        height: 90vh;
        visibility: visible;
        
    }

    #menu li{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid var(--cor-principal);
    }

    .imagemInicio{
        position: relative;
        width: 100vw;        

    }

    .imagemInicio>img{
        width: auto;
        height: 60vh;
        object-fit: cover;
        max-width: 100%;
        min-width: 100%
    
    }

    .textoInicio{
        display: flex;
        width: 80%;
        position: absolute;
        bottom: 0;
        right: 0;
        justify-items: end;
        padding: 20px;
        font-size: 3.4rem;
        text-align: end;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: bolder;
        color: var(--cor-background-um);
        text-shadow: 1px 1px 2px black;

    }

    #btnDoe{
        -webkit-animation: vibrate-1 0.3s linear 3 both;
        animation: vibrate-1 0.3s linear 3 both;
    }


    /* ----------------------------------------------
    * Generated by Animista on 2023-9-21 23:48:47
    * Licensed under FreeBSD License.
    * See http://animista.net/license for more info. 
    * w: http://animista.net, t: @cssanimista
    * ---------------------------------------------- */

    /**
    * ----------------------------------------
    * animation vibrate-1
    * ----------------------------------------
    */
    @-webkit-keyframes vibrate-1 {
        0% {
        -webkit-transform: translate(0);
                transform: translate(0);
        }
        20% {
        -webkit-transform: translate(-2px, 2px);
                transform: translate(-2px, 2px);
        }
        40% {
        -webkit-transform: translate(-2px, -2px);
                transform: translate(-2px, -2px);
        }
        60% {
        -webkit-transform: translate(2px, 2px);
                transform: translate(2px, 2px);
        }
        80% {
        -webkit-transform: translate(2px, -2px);
                transform: translate(2px, -2px);
        }
        100% {
        -webkit-transform: translate(0);
                transform: translate(0);
        }
    }
    @keyframes vibrate-1 {
        0% {
        -webkit-transform: translate(0);
                transform: translate(0);
        }
        20% {
        -webkit-transform: translate(-2px, 2px);
                transform: translate(-2px, 2px);
        }
        40% {
        -webkit-transform: translate(-2px, -2px);
                transform: translate(-2px, -2px);
        }
        60% {
        -webkit-transform: translate(2px, 2px);
                transform: translate(2px, 2px);
        }
        80% {
        -webkit-transform: translate(2px, -2px);
                transform: translate(2px, -2px);
        }
        100% {
        -webkit-transform: translate(0);
                transform: translate(0);
        }
    }

    main{
        margin-top: 10vh;
    }

    #sobreNos{
        display: block;
        width: 100vw;        
    }

    .historia{
        width: auto;
    }

    .contatos{
        display: flex;
        flex-direction: column;
    }
}